@font-face {
    font-family: bebas-regular;
    src: url('../fonts/Bebas-Regular.ttf');
}

.blog-container {
    text-align: center;
    background: #0e2141;
}

h1 {
    font-family: "bebas-regular";
    font-size: 32px;
    line-height: normal;
    color: #0e2141
}

.blog-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blog-slider .slick-slide img {
    display: initial;
}

.blog-slider .post-title {
    padding: 10px 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.75rem;
    font-family: "bebas-regular";
    color: #d7a75b;
}

.blog-card {
    background-color: #fff;
    max-width: 800px;
    border-radius: 3px;
    display: grid;
    margin: 10px
}

.blog-card .img-container {
    grid-column: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.blog-card-content {
    grid-column: 3 / 5;
    padding: 10px 30px;
    border-left: 1px solid #ccc;
}

.blog-card-content .author {
    border-top: 1px solid #cdcdcd;
    font-weight: 700;
    margin-top: 25px;
    letter-spacing: 0.1rem;
    padding: 25px 0 10px 0;
    color: #0e2141;
}

@media only screen and (max-width:600px) {
    .blog-card {
        display: block !important;
        margin: 20px
    }
    .blog-card .img-container {
        height: 250px;
        width: 100%;
    }
    .blog-card-content {
        border: 0;
        border-top: 1px solid #ccc;
    }
}

.blog-button {
    background-color: #0e2141;
    padding-top: 2rem;
    padding-bottom: 4rem;
    align-items: center;
    text-align: center;
}